html,body{
    margin:0; /*去掉默认的页面边距*/
    height:100%;/*因为HTML元素的高度默认是按需增加的,所有需要显示指定根节点高度*/
    background:#fff;/*网页背景色*/
    overflow:hidden;/*避免出现滚动条*/
}

/*最大化后body会自动添加maximize属性,如果是圆角界面可以在这里移除圆角*/
body[maximize]{ 
	border-radius:0;
}

body[maximize] #header{
	border-radius:0;
}

#header{
    height:32px;
    background:rgb(52,152,220);
    cursor:default;
    behavior:windowCommand;
    overflow:hidden;/*清除浮动*/
}

#container{
    width:100%; 
    height:100%%; /*撑满剩余可用空间*/
    flow: horizontal; /*将容器内部块元素变为横向布局 - 比具有破坏性的float浮动布局更方便*/
    margin:0 auto; 
    overflow:hidden;  
    background:rgb(110,179,210);
}

#container .lside{
    height:100%;
    width:150px;  
    background:rgb(110,179,210);
}

#container .rside{
    height:100%; 
    background:#FFF; 
}

#footer {
	background:rgb(239,237,238);
	height:25px;
	text-align:right;
	padding:10px 20px;
}

#footer button{
	padding:4px 13px;
	font-size:12px; 
	background:rgb(27,174,93);
	color:white; 
}

#footer button:hover { 
	background:rgb(33,127,188);
	outline: 1px glow rgb(91,171,230) 1px;
	cursor:pointer;
} 